.todo-item {
  box-shadow: 0 2px 12px 0px rgba(52, 58, 64, 0.15);
  border-radius: 8px;
  padding: 1.2rem 1.6rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.todo-item-text {
  font-size: 1.4rem;
  width: 100%;
}

.icon--check,
.icon--delete {
  display: grid;
  cursor: pointer;

  transition: all 0.3s ease-out;
  overflow: visible;
}
.icon--check:hover {
  fill: #099268;
  transform: scale(1.1);
}
.icon--delete:hover {
  fill: #e03131;
  transform: scale(1.1);
}

/* Task completed */
.icon--check.active {
  fill: #099268;
}
.todo-item-text--completed {
  color: #099268;
  text-decoration: line-through;
}

@media (min-width: 36em) {
  .todo-item {
    padding: 1.6rem 2rem;
  }
  .todo-item-text {
    font-size: 1.6rem;
  }
}
@media (min-width: 48em) {
  .todo-item {
    gap: 2.4rem;
    padding: 2rem 2.4rem;
  }
  .todo-item-text {
    font-size: 2rem;
  }
  .icon.icon--check,
  .icon.icon--delete {
    width: 3.2rem;
    height: 3.2rem;
  }
}
