.todo-search {
  display: flex;
  gap: 1.2rem;
  background: #f1f3f5;
  padding-right: 1.2rem;
  align-items: center;
  border-radius: 100px;
  margin-bottom: 3.2rem;
}
.todo-search-input {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border-radius: 100px 0 0 100px;
  border: none;
  background: none;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  color: currentColor;
}
.todo-search-input:focus {
  outline: 2px solid #3b5bdb;
}
.icon--search {
  stroke: #868e96;
}
.todo-search-input::placeholder {
  color: #868e96;
}
