.error-todo {
  text-align: center;
}
.error-todo-text {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}
.error-todo-btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  margin-bottom: 3.2rem;
  background: #e03131;
  border: none;
  border-radius: 8px;

  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  cursor: pointer;
}
.error-todo-warning {
  font-size: 1.4rem;
  color: #fa5252;
}
@media (min-width: 36em) {
  .error-todo-text {
    margin-bottom: 2rem;
  }
  .error-todo-text,
  .error-todo-btn {
    font-size: 1.8rem;
  }
  .error-todo-warning {
    font-size: 1.6rem;
  }
}
@media (min-width: 48em) {
  .error-todo-text,
  .error-todo-btn {
    font-size: 2rem;
  }
  .error-todo-warning {
    font-size: 1.8rem;
  }
}
